body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (min-width: 1025px) {
.add-event-button-container {
  position: fixed;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000; /* On top of the map */
}

.add-event-button {
  background-color: #111;
  color: #fff;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

.add-event-button:hover {
  background-color: #333;
  transform: scale(1.05);
}

.lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(30, 30, 30, 0.648);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
}

.lightbox-image {
  max-width: 90%;
  max-height: 70vh;
  border-radius: 3px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  margin-top: -4.2em;
}

.lightbox-caption {
  color: white;
  font-size: 2em;
  text-align: center;
  margin-top: 0.8rem;
  max-width: 90%;
  font-weight: 500;
  line-height: 1.5;
}

.lightbox-close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 2.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  z-index: 10000;
}

.caption-input-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.caption-label {
  color: rgb(21, 21, 21);
  font-size: 1.95rem;
  margin-bottom: 0.8rem;
  font-weight: 500;
}

.caption-input {
  max-width: 400px;
  font-size: 1.6rem;
  padding: 14px 12px;
  border: none;
  border-bottom: 2px solid black;
  background-color: transparent;
  outline: none;
}

.caption-buttons {
  margin-top: 0.5rem;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.caption-cancel,
.caption-confirm {
  font-size: 2.2rem;
  background: none;
  border: none;
  color: rgb(22, 22, 22);
  cursor: pointer;
}

.caption-overlay {
  position: fixed;
  top: -59vw;
  right: -50vw;
  width: 100vw;
  height: 160vh;
  background-color: rgba(255, 255, 255, 0.669);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}


.caption-input-wrapper {
  background: transparent; /* ensure it's clean over light bg */
}
}

@media (min-width: 768px) and (max-width: 1024px) {
  .add-event-button-container {
    position: fixed;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000; /* On top of the map */
  }
  
  .add-event-button {
    background-color: #111;
    color: #fff;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 999px;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
  }
  
  .add-event-button:hover {
    background-color: #333;
    transform: scale(1.05);
  }
  
  .lightbox-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(30, 30, 30, 0.648);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
  }
  
  .lightbox-image {
    max-width: 90%;
    max-height: 70vh;
    border-radius: 3px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin-top: -4.2em;
  }
  
  .lightbox-caption {
    color: white;
    font-size: 2em;
    text-align: center;
    margin-top: 0.8rem;
    max-width: 90%;
    font-weight: 500;
    line-height: 1.5;
  }
  
  .lightbox-close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 2.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    z-index: 10000;
  }
  
  .caption-input-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
  
  .caption-label {
    color: rgb(21, 21, 21);
    font-size: 1.95rem;
    margin-bottom: 0.8rem;
    font-weight: 500;
  }
  
  .caption-input {
    max-width: 400px;
    font-size: 1.6rem;
    padding: 14px 12px;
    border: none;
    border-bottom: 2px solid black;
    background-color: transparent;
    outline: none;
  }
  
  .caption-buttons {
    margin-top: 0.5rem;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
  }
  
  .caption-cancel,
  .caption-confirm {
    font-size: 2.2rem;
    background: none;
    border: none;
    color: rgb(22, 22, 22);
    cursor: pointer;
  }
  
  .caption-overlay {
    position: fixed;
    top: -59vw;
    right: -50vw;
    width: 100vw;
    height: 160vh;
    background-color: rgba(255, 255, 255, 0.669);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .caption-input-wrapper {
    background: transparent; /* ensure it's clean over light bg */
  }
  }

  @media (max-width: 767px) {
  .add-event-button-container {
    position: fixed;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000; /* On top of the map */
  }
  
  .add-event-button {
    background-color: #111;
    color: #fff;
    padding: 14px 32px;
    font-size: 16px;
    border: none;
    border-radius: 999px;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
  }
  
  .add-event-button:hover {
    background-color: #333;
    transform: scale(1.05);
  }
  
  .lightbox-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(30, 30, 30, 0.648);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
  }
  
  .lightbox-image {
    max-width: 90%;
    max-height: 70vh;
    border-radius: 3px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin-top: -4.2em;
  }
  
  .lightbox-caption {
    color: white;
    font-size: 2em;
    text-align: center;
    margin-top: 0.8rem;
    max-width: 90%;
    font-weight: 500;
    line-height: 1.5;
  }
  
  .lightbox-close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 2.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    z-index: 10000;
  }
  
  .caption-input-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
  
  .caption-label {
    color: rgb(21, 21, 21);
    font-size: 1.6rem;
    margin-bottom: 0.8rem;
    font-weight: 500;
  }
  
  .caption-input {
    max-width: 400px;
    font-size: 1.5rem;
    padding: 14px 12px;
    border: none;
    border-bottom: 3px solid black;
    background-color: transparent;
    outline: none;
    font-weight: 500;
  }
  
  .caption-buttons {
    margin-top: 0.5rem;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
  }
  
  .caption-cancel,
  .caption-confirm {
    font-size: 2.2rem;
    background: none;
    border: none;
    color: rgb(22, 22, 22);
    cursor: pointer;
  }
  
  .caption-overlay {
    position: fixed;
    top: -234vw;
    right: -50vw;
    width: 100vw;
    height: 145vh;
    background-color: rgba(255, 255, 255, 0.669);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .caption-input-wrapper {
    background: transparent; 
    width: 85%;
  }
  }